#courtName {
  font-size: 17px;
  font-weight: bold;
}

.fa {
  color: orange;
}

.leftSpace {
  padding-left: 10px;
}

.tab::active {
  background: red;
}

#courtName {
  font-size: 20px;
}
#courtInfoWindow {
  font-size: 20px;
}

@media (min-width: 501px) {
  #courtName {
    font-size: 17px;
  }
  #courtInfoWindow {
    font-size: 13px;
  }
}
