@import "./map.css";
@import "./contentWindow.css";
@import "../../node_modules/font-awesome/css/font-awesome.min.css";

.app-wrapper, .content{
	height: 100%;
	padding-bottom: 10px;
}

#title{
	text-align: left;
	padding: 10px 0px;
	font-size: 40px;
}

.noDecoration{
	text-decoration: none;
}

.link{
	color:black;
	padding: 10px;
}

.headerLink a{
	color: black;
}

.headerLink{
	float: right;
}

.padding{
	padding: 10px;
}

.tab, .anchor{
	font-size: 20px;
}

.key{
	display: inline-block;
	cursor: pointer;
	padding: 0px 5px;
}

.key:hover:not(.activeSort){
	color: orange;
}

.keyTitle{
	padding-right: 15px;
}

#sideContainer, #map{
	display: inline-block;
}

#sideContainer{
	width: 25%;
	height: 400px;
	display: inline-block;
	overflow: scroll;
	white-space: wrap; 
	background: #DCDCDC;
}

#mapContainer{
	width: 75%;
	height: 400px;
	display: inline-block;
}

#keyContainer{
	padding: 10px 0px;
}

#courtList{
	margin-top: 0px;
	width: 100%;
	color: orange;
	padding-left: 0px;
}

#courtList li:nth-child(even){
	background-color: #323232;
}

#courtList li:nth-child(odd){
	background-color:#666666;
}

#courtList li{
	width: 100%;
}

.courtListItem{
	list-style: none;
	font-size: 20px;
	padding: 5px;
}

.courtListItem:hover, .headerLink:hover, .link:hover{
	cursor: pointer;
	 opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}


#map{
	width: 100%;
	height: 100%;
}

.tab{
	padding: 10px;
}

.active{
	background: silver;
	cursor: pointer;
}

.tab:hover:not(.active){
	color: orange;
	cursor: pointer;
}

.activeSort{
	background: orange;
}

#styleSelectorContainer{
	padding: 10px 0px;
}

#styleContainer{
	display: inline-block;
}

#mainContainer{
	padding: 20px;
	margin: 50px 0px;
}

.header{
	top: 0;
}

.footer {
	bottom: 0;
}

.header, .footer{
	font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
	background: #fafafb;
	position: fixed;
	left: 0;
	min-width: auto;
	width: 100%;
	z-index: 1000;
	height: 60px;
	line-height: 1.7em;
	box-sizing: border-box;
	border-top: 3px solid #F48024;
	box-shadow: 0 1px 0 rgba(12,13,14,0.15);
}

.form-container-login, .form-container-signup {
	font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
	font-size: 17px;
	height: 175px;
	width: 150px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

input.input {
	display: block;
	margin: 10px 0;
	padding: 10px;
}

input:-webkit-autofill {
	background: #fafafb;
}

.submit {
	margin-top: 5px;
	width: 100%;
	height: 40px;
}

.submit {
	-moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
	-webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
	background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
	background-color:#33bdef;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}

.submit:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
	background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
	background-color:#019ad2;
}

.submit:active {
	position:relative;
	top:1px;
}

.flag{
	color: red;
}
