@import "./map.css";

.trials{
	padding: 10px;
	height: 40px;
	width: 120px;
	float: left;
}

.tab, .anchor{
	font-size: 20px;
}	

.tab:hover{
	color: orange;
	cursor: pointer;
}

.app-wrapper {
	padding-top: 60px;
}


div.link a:hover {
	opacity: 0.5;
}

div.link a:selected {
	font-weight: bold;
}

.header {
	
	font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
	background: #fafafb;
	position: fixed;
	top: 0;
	left: 0;
	min-width: auto;
	width: 100%;
	z-index: 1000;
	height: 60px;
	line-height: 1.7em;
	box-sizing: border-box;
	border-top: 3px solid #F48024;
	box-shadow: 0 1px 0 rgba(12,13,14,0.15);
}


.link {
	padding: 14px 20px 14px 20px;
}

.link a {
	text-decoration: none;
	color: #0C0D0E;
	font-size: 13px;
}

.footer {
	position: absolute;
	bottom: 0;
}

.counters {
	display: inline-block;
	width: 23%;
}

.info {
	display: inline-block;
	width: 77%;
}

.counts {
	text-align: center;
}

.num, .label, .summary, .tag, .date, .name{
	font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
}

.num {
	font-size: 17px;
	font-weight: 300;
	color: #6a737c;
	text-align: center;
	width: 38px;
}

.label {
	font-size: 11px;
	color: #848d95;
	text-align: center;
	width: 38px;
}

.summary {
	color: #07C;
	text-decoration: none;
	font-size: 16px;
	font-weight: 400;
}

.tag {
	border: 0;
	text-decoration: none;
	color: #33658a;
	background-color: #cee0ed;
	border-color: rgba(0,0,0,0);
	font-size: 12px;
	position: relative;
	display: inline-block;
	padding: .4em .5em;
	margin: 2px 8px 2px 0;
	line-height: 1;
	white-space: nowrap;
	text-align: center;
	border-width: 1px;
	border-style: solid;
	border-radius: 0;
}

.date {
	display: inline-block;
	white-space: nowrap;
	color: #9199a1;
	margin: 0;
	padding: 0;
	border: 0;
	text-decoration: none;
	font-size: 12px;
	float: right;
	position: relative;
	top: 8px;
}

.name {
	display: inline-block;
	font-size: 12px;
	color: #07C;
	text-decoration: none;
	margin: 0;
	padding: 0;
	border: 0;
	float: right;
	position: relative;
	top: 8px;
	margin-right: 10px;
}

.question {
	padding: 12px 0 10px 0;
	border-bottom: 1px solid #e4e6e8;
	width: 728px;
}

.form-container-login {
	font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
	font-size: 17px;
	height: 175px;
	width: 150px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.form-container-signup {
	font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
	font-size: 17px;
	height: 200px;
	width: 150px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.form-title {
	color: #07C;
	text-align: center;
	padding: 5px 0;
}

input.input {
	display: block;
	margin: 10px 0;
	padding: 10px;
}

input:-webkit-autofill {
	background: #fafafb;
}

.submit {
	margin-top: 5px;
	width: 100%;
	height: 40px;
}

.submit {
	-moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
	-webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
	background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
	background-color:#33bdef;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}

.submit:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
	background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
	background-color:#019ad2;
}

.submit:active {
	position:relative;
	top:1px;
}

.counter {
	padding: 8px 5px;
	line-height: 1;
	display: inline-block;
}
.flag{
	color: red;
}
